/**=======================================================================================================================
 **                                                    MAIN
 *=======================================================================================================================**/
/**========================================================================
 **                           VARIABLES
 *========================================================================**/
/**======================
   *      Brand Colors
   *========================**/
/**======================
   *      Primary
   *========================**/
/**======================
   *     Page Specific 
   *========================**/
/**========================================================================
 **                           MEDIA BREAKPOINTS
 *========================================================================**/
/*
*Breakpoints:
- Mobile 600px
- Tablet Portrait 900px
- Tablet Landscape 1200px
- Televisions/Projectors >1800px 
*/
/**=======================================================================================================================
 **                                                   BASE 
 *=======================================================================================================================**/
*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font: inherit; }

body {
  min-height: 100vh; }

html {
  color-scheme: dark light; }

img,
picture,
svg,
video {
  display: block;
  max-width: 100%; }

input,
textarea,
button,
select {
  font: inherit; }

/**=======================================================================================================================
 **                                                   TYPOGRAPHY 
 *=======================================================================================================================**/
.main-font {
  font-family: 'Roboto', Arial, sans-serif; }

.link {
  color: #0077ff; }

.text--black {
  color: black; }

.text--white {
  color: white; }

.text--tag {
  font-size: 1.4rem; }
  @media (max-width: 37.5em) {
    .text--tag {
      font-size: 1rem; } }

.text--header {
  font-size: 1.2rem; }
  @media (max-width: 37.5em) {
    .text--header {
      font-size: 1rem; } }

.text--bio {
  font-size: 1.5rem; }
  @media (max-width: 37.5em) {
    .text--bio {
      font-size: 1rem; } }

.text--btn {
  font-size: 1.2rem;
  text-decoration: none;
  color: black; }

.text--list {
  font-size: 1.2rem; }
  @media (max-width: 37.5em) {
    .text--list {
      font-size: 1rem; } }

.head--large {
  font-size: 10rem;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .head--large {
      font-size: 2.5rem;
      line-height: 1.3; } }

.head--secondary {
  font-size: 3rem;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .head--secondary {
      font-size: 1.7rem; } }

.head--about {
  font-size: 2.5rem; }

.head--main {
  font-size: 3rem; }
  @media (max-width: 37.5em) {
    .head--main {
      font-size: 2rem; } }

.head--alternate {
  font-size: 2rem; }
  @media (max-width: 37.5em) {
    .head--alternate {
      font-size: 1.5rem; } }

.head--sub {
  font-size: 1.8rem; }
  @media (max-width: 37.5em) {
    .head--sub {
      font-size: 1.5rem; } }

.head--primary {
  font-size: 3.5rem;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .head--primary {
      font-size: 2.5rem; } }

.head--tertiary {
  font-size: 2rem;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .head--tertiary {
      font-size: 1.5rem; } }

.head--mini {
  font-size: 2.5rem;
  text-decoration: underline; }
  @media (max-width: 37.5em) {
    .head--mini {
      font-size: 1.8rem; } }

.head--picture {
  font-size: 2rem; }

.head--footer {
  font-size: 1.5rem;
  text-decoration: underline; }

/**=======================================================================================================================
 **                                                   IMG 
 *=======================================================================================================================**/
.socials {
  height: 3rem; }

.demo--primary {
  height: 28rem;
  border-radius: 5px;
  border: 2px solid black; }

.demo--secondary {
  border-radius: 5px;
  border: 2px solid white; }

.logo {
  height: 22rem;
  width: 22rem;
  border: 2px solid black;
  border-radius: 50%;
  object-fit: cover; }
  .logo--mobile {
    height: 6rem;
    width: 6rem; }

.icon {
  height: 4rem;
  width: 4rem; }

/**========================================================================
 **                          KEYFRAME ANIMATIONS 
 *========================================================================**/
@keyframes heartPop {
  from {
    scale: 0;
    opacity: 1; }
  to {
    scale: 2.5;
    opacity: 0; } }

/**========================================================================
 **                          BTN 
 *========================================================================**/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black; }
  .btn--white {
    background-color: white; }
  .btn--transparent {
    background-color: transparent; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343434;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s; }

.modal {
  overflow: scroll;
  position: absolute;
  margin: 1rem 0;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #343434;
  opacity: 0;
  width: 70rem;
  height: 40rem;
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .modal {
      display: none; } }
  .modal__close {
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    opacity: 0;
    width: 4rem;
    height: 4rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.3s; }
    @media (max-width: 37.5em) {
      .modal__close {
        display: none; } }

.resume {
  overflow: scroll;
  height: 80rem; }

/**=======================================================================================================================
 **                                                   FORM 
 *=======================================================================================================================**/
.form {
  width: 70%; }
  .form > .form__block:not(:first-child) {
    margin-top: 1rem; }
  .form__block {
    position: relative;
    display: flex;
    flex-direction: column; }
  .form__submit {
    margin: 0 auto;
    width: 50%; }
  .form__input {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; }
    .form__input--standard {
      height: 2.5rem; }
    .form__input--message {
      height: 6rem; }

/**========================================================================
 **                          BASE LAYOUT 
 *========================================================================**/
.layout-base {
  position: relative;
  display: grid;
  place-items: center; }

.layout-construction {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.layout-main {
  margin: 5rem 0; }
  @media (max-width: 37.5em) {
    .layout-main {
      margin: 2.5rem auto; } }
  .layout-main > :not(:last-child).card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .layout-main .head {
    text-align: center; }

/**========================================================================
 **                          HEADER LAYOUT 
 *========================================================================**/
.layout-header > .card__tag {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%); }
  @media (max-width: 37.5em) {
    .layout-header > .card__tag {
      top: 0.5rem; } }

@media (max-width: 37.5em) {
  .layout-header > .head--large {
    margin-top: 1rem; } }

.layout-header > .card__about {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 37.5em) {
    .layout-header > .card__about {
      flex-direction: column; } }

.layout-header .card__about--separator {
  margin: 0 1.5rem; }
  @media (max-width: 37.5em) {
    .layout-header .card__about--separator {
      margin: 0.5rem 0; } }

.layout-header > .card__figma {
  position: absolute;
  bottom: 1rem;
  right: 1rem; }
  @media (max-width: 37.5em) {
    .layout-header > .card__figma {
      display: none; } }

/**========================================================================
 **                          FOUNDER LAYOUT 
 *========================================================================**/
.layout-founder > .card__socials {
  display: flex; }
  .layout-founder > .card__socials > a:not(:first-child) {
    margin-left: 2rem; }

.layout-founder > .card__design-line {
  position: absolute;
  background-color: #ff9100;
  top: 50%;
  transform: translateY(-50%); }

.layout-founder > .card__design-line--left {
  left: 1.5rem; }

.layout-founder > .card__design-line--right {
  right: 1.5rem; }

/**========================================================================
 **                          PICTURE LAYOUT 
 *========================================================================**/
.layout-picture > .card__head {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%); }

/**========================================================================
 **                          PRIMARY LAYOUT 
 *========================================================================**/
.layout-primary--left-col {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 37.5em) {
    .layout-primary--left-col {
      display: none; } }
  .layout-primary--left-col .btn {
    margin-top: 1rem; }

@media (max-width: 37.5em) {
  .layout-primary--center-col {
    display: none; } }

.layout-primary--right-col {
  display: flex;
  flex-direction: column; }

.layout-primary--sub-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; }
  .layout-primary--sub-col > .head--mini {
    margin-bottom: 1rem; }

.layout-primary .card__btn--mobile {
  display: none;
  margin: 1.5rem auto 0; }
  @media (max-width: 37.5em) {
    .layout-primary .card__btn--mobile {
      display: block; } }

.layout-primary .logo--mobile {
  display: none; }
  @media (max-width: 37.5em) {
    .layout-primary .logo--mobile {
      margin: 0 auto;
      display: block; } }

/**========================================================================
 **                          SECONDARY LAYOUT 
 *========================================================================**/
.layout-secondary--right-col {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .layout-secondary--right-col > .card__description {
    margin-bottom: 1rem; }
  .layout-secondary--right-col > .head--mini {
    margin-bottom: 1rem; }

.layout-secondary .card__btn {
  margin-top: 1.5rem; }

.layout-secondary--left-col .demo--secondary {
  margin-left: 0.5rem; }

/**========================================================================
 **                          TERTIARY LAYOUT 
 *========================================================================**/
.layout-tertiary--col {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .layout-tertiary--col .card__description {
    margin-bottom: 1rem; }
  .layout-tertiary--col .head--mini {
    margin-bottom: 1rem; }

.layout-tertiary .card__btn {
  margin-top: 1.5rem; }

/**========================================================================
 **                          FOOTER LAYOUT 
 *========================================================================**/
.layout-footer {
  position: relative;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 37.5em) {
    .layout-footer {
      flex-direction: column; } }
  .layout-footer--sub-col {
    display: flex;
    flex-direction: column; }
    @media (max-width: 37.5em) {
      .layout-footer--sub-col {
        margin-left: 0.5rem; } }
  .layout-footer .card__copyright {
    position: absolute;
    bottom: 2px;
    right: 5px; }
  .layout-footer--right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .layout-footer--right-col > .layout-footer--sub-col {
      margin-bottom: 1rem; }
  @media (max-width: 37.5em) {
    .layout-footer .card__copyright--desktop {
      display: none; } }
  .layout-footer .card__copyright--mobile {
    display: none; }
    @media (max-width: 37.5em) {
      .layout-footer .card__copyright--mobile {
        display: block; } }

/**========================================================================
 **                          DISPLAY 
 *========================================================================**/
.body {
  background-color: #2a4e6e; }

.display-main {
  width: 80rem; }
  @media (max-width: 37.5em) {
    .display-main {
      width: auto; } }

.display-alternate {
  height: 25rem;
  width: 45rem;
  border-radius: 15px;
  border: 2px solid white;
  background-color: #ffd1aa; }

/**=======================================================================================================================
 **                                                   GRID 
 *=======================================================================================================================**/
.grid {
  display: grid; }
  .grid--main {
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10rem; }
    @media (max-width: 37.5em) {
      .grid--main {
        grid-template-columns: 20rem;
        grid-auto-rows: 8rem; } }
  .grid--primary {
    grid-template-columns: repeat(3, 1fr);
    place-items: center; }
    @media (max-width: 37.5em) {
      .grid--primary {
        grid-template-columns: 1fr; } }
  .grid--secondary {
    grid-template-columns: repeat(2, 1fr);
    place-items: center; }
    @media (max-width: 37.5em) {
      .grid--secondary {
        grid-template-columns: 1fr; } }
  .grid--footer {
    grid-template-columns: repeat(2, 1fr);
    place-items: center; }
    @media (max-width: 37.5em) {
      .grid--footer {
        grid-template-columns: 1fr;
        place-items: start; } }

#gridMain {
  grid-template-areas: 'header header header' 'header header header' 'header header header' 'header header header' 'founder picture contact' 'founder picture contact' 'founder picture contact' 'primary primary primary' 'primary primary primary' 'primary primary primary' 'secondary secondary tertiary' 'secondary secondary tertiary' 'secondary secondary tertiary' 'footer footer footer'; }
  @media (max-width: 37.5em) {
    #gridMain {
      grid-template-areas: 'header' 'header' 'header' 'founder' 'founder' 'founder' 'picture' 'picture' 'picture' 'contact' 'contact' 'contact' 'primary' 'primary' 'primary' 'primary' 'secondary' 'secondary' 'secondary' 'tertiary' 'tertiary' 'tertiary' 'footer' 'footer'; } }

#header {
  grid-area: header; }

#founder {
  grid-area: founder; }

#picture {
  grid-area: picture; }

#contact {
  grid-area: contact; }

#primary {
  grid-area: primary; }

#secondary {
  grid-area: secondary; }

#tertiary {
  grid-area: tertiary; }

#footer {
  grid-area: footer; }

#gridPrimary {
  grid-template-areas: 'logo img description'; }
  @media (max-width: 37.5em) {
    #gridPrimary {
      grid-template-areas: ' description'; } }

#logoPrimary {
  grid-area: logo; }
  @media (max-width: 37.5em) {
    #logoPrimary {
      display: none; } }

#imgPrimary {
  grid-area: img; }
  @media (max-width: 37.5em) {
    #imgPrimary {
      display: none; } }

#descriptionPrimary {
  grid-area: description; }

#gridSecondary {
  grid-template-areas: 'img description'; }
  @media (max-width: 37.5em) {
    #gridSecondary {
      grid-template-areas: ' description'; } }

#imgSecondary {
  grid-area: img; }
  @media (max-width: 37.5em) {
    #imgSecondary {
      display: none; } }

#descriptionSecondary {
  grid-area: description; }

#gridFooter {
  grid-template-areas: 'footer footer' 'links1 links2'; }
  @media (max-width: 37.5em) {
    #gridFooter {
      grid-template-areas: 'footer' 'links1' 'links2'; } }

#headFooter {
  grid-area: footer; }

#allLinksOne {
  grid-area: links1; }

#allLinksTwo {
  grid-area: links2; }

/**=======================================================================================================================
 **                                                   CARD 
 *=======================================================================================================================**/
.card {
  border-radius: 15px;
  background-color: #ffd1aa;
  border: 2px solid white; }
  .card__tag {
    border-radius: 10px;
    background-color: #ff9100;
    padding: 0.5rem 1rem;
    cursor: pointer; }
  .card__bio--founder {
    width: 75%; }
  .card__bio--contact {
    width: 95%; }
  .card__description {
    width: 85%; }
  .card__head--picture {
    padding: 0 1rem;
    border-radius: 10px;
    background-color: rgba(42, 78, 110, 0.55);
    pointer-events: none; }
  .card__head--contact {
    width: 95%; }
  .card__about--separator {
    height: 100%;
    width: 2px;
    background-color: black; }
    @media (max-width: 37.5em) {
      .card__about--separator {
        height: 2px;
        width: 50%; } }
  .card__about--right {
    width: 45%; }
    @media (max-width: 37.5em) {
      .card__about--right {
        width: 85%; } }
  .card__design-line {
    height: 100%;
    width: 4px; }

.card--picture {
  background-image: url("/img/rob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; }

.card--founder {
  background-color: #3e72a0; }

/**=======================================================================================================================
 **                                                   CONSTRUCTION 
 *=======================================================================================================================**/
.construction__header {
  font-size: 4rem; }

.construction__img {
  height: 4rem;
  width: 4rem; }

.construction__text {
  font-size: 1.5rem; }

.construction__link {
  font-size: 1.5rem;
  color: #0077ff; }

/**=======================================================================================================================
 **                                                   UTILITIES 
 *=======================================================================================================================**/
.u--display--mobile {
  display: none; }
  @media (max-width: 37.5em) {
    .u--display--mobile {
      display: block; } }

.u--display--desktop {
  display: block; }
  @media (max-width: 37.5em) {
    .u--display--desktop {
      display: none; } }

@media (max-width: 37.5em) {
  .u--width-max--mobile {
    width: 100%; } }

/**========================================================================
 **                          JAVASCRIPT CLASSES 
 *========================================================================**/
.pointer-events--none {
  pointer-events: none; }

.opacity--1 {
  opacity: 1; }

.overflow--hidden {
  overflow: hidden; }

.heart-pop {
  display: inline;
  position: absolute;
  scale: 0;
  animation: heartPop 2s;
  color: red;
  font-size: 1rem; }
