/**=======================================================================================================================
 **                                                    MAIN
 *=======================================================================================================================**/
/**========================================================================
 **                           VARIABLES
 *========================================================================**/
/**======================
   *      Brand Colors
   *========================**/
/**======================
   *      Primary
   *========================**/
/**======================
   *     Page Specific 
   *========================**/
/**========================================================================
 **                           MEDIA BREAKPOINTS
 *========================================================================**/
/*
*Breakpoints:
- Mobile 600px
- Tablet Portrait 900px
- Tablet Landscape 1200px
- Televisions/Projectors >1800px 
*/
/**=======================================================================================================================
 **                                                   BASE 
 *=======================================================================================================================**/
*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font: inherit; }

body {
  min-height: 100vh; }

html {
  color-scheme: dark light; }

img,
picture,
svg,
video {
  display: block;
  max-width: 100%; }

input,
textarea,
button,
select {
  font: inherit; }

/**=======================================================================================================================
 **                                                   TYPOGRAPHY 
 *=======================================================================================================================**/
.main-font {
  font-family: 'Roboto'; }

.head__founder--secondary {
  font-size: 2.2rem; }
  @media (max-width: 37.5em) {
    .head__founder--secondary {
      font-size: 1.5rem; } }

.head__description--secondary {
  font-size: 2.2rem; }
  @media (max-width: 37.5em) {
    .head__description--secondary {
      font-size: 1.8rem; } }

.head--sub {
  font-size: 2rem; }
  @media (max-width: 37.5em) {
    .head--sub {
      font-size: 1.5rem; } }

.head--picture {
  font-size: 2rem; }

.head--about {
  text-decoration: none; }

.head--tertiary {
  font-size: 2rem; }
  @media (max-width: 37.5em) {
    .head--tertiary {
      font-size: 1.5rem; } }

.text {
  font-size: 1.5rem; }
  @media (max-width: 37.5em) {
    .text {
      font-size: 1rem; } }
  .text--header {
    font-size: 1.2rem; }
  .text--description {
    font-size: 1.2rem; }
    @media (max-width: 37.5em) {
      .text--description {
        font-size: 1rem; } }

h1 {
  font-size: 10rem;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 37.5em) {
    h1 {
      margin-top: 1rem;
      font-size: 2.5rem;
      line-height: 1.3; } }

h2 {
  font-size: 3.5rem;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    h2 {
      font-size: 2.5rem; } }

h3 {
  font-size: 3rem;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    h3 {
      font-size: 1.7rem; } }

h4 {
  font-size: 3rem; }
  @media (max-width: 37.5em) {
    h4 {
      font-size: 2rem; } }

h5 {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline; }
  @media (max-width: 37.5em) {
    h5 {
      font-size: 1.8rem; } }

h6 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline; }

button {
  font-size: 1.2rem; }

span {
  font-size: 1.4rem; }
  @media (max-width: 37.5em) {
    span {
      font-size: 1rem; } }

/**=======================================================================================================================
 **                                                   IMG 
 *=======================================================================================================================**/
.img--socials {
  height: 3rem; }

.img--demo--primary {
  height: 28rem;
  border-radius: 5px;
  border: 2px solid black;
  margin: 0 auto; }

.img--demo--secondary {
  height: 27rem;
  border-radius: 5px;
  border: 2px solid white;
  margin-left: 1rem; }

.img--logo {
  height: 22rem;
  width: 22rem;
  border: 2px solid black;
  border-radius: 50%;
  object-fit: cover; }
  .img--logo--mobile {
    display: none;
    margin: 0 auto 1rem;
    max-width: 50%; }
    @media (max-width: 37.5em) {
      .img--logo--mobile {
        display: block; } }

.img--card {
  height: 4rem;
  width: 4rem;
  margin: 0 auto 1rem; }

/**========================================================================
 **                          KEYFRAME ANIMATIONS 
 *========================================================================**/
/**========================================================================
 **                          BTN 
 *========================================================================**/
/**========================================================================
 **                          MODAL 
 *========================================================================**/
/**========================================================================
 **                          LAYOUT 
 *========================================================================**/
/**========================================================================
 **                          DIMENSIONS 
 *========================================================================**/
/**=======================================================================================================================
 **                                                   GRID 
 *=======================================================================================================================**/
.grid {
  display: grid; }
  .grid--main {
    margin: 5rem 0;
    width: 80rem;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10rem; }
    @media (max-width: 37.5em) {
      .grid--main {
        margin: 2.5rem auto;
        width: auto;
        grid-template-columns: 20rem;
        grid-auto-rows: 8rem; } }
  .grid--primary {
    grid-template-columns: repeat(3, 1fr);
    place-items: center; }
    @media (max-width: 37.5em) {
      .grid--primary {
        grid-template-columns: 1fr; } }
  .grid--secondary {
    grid-template-columns: repeat(2, 1fr);
    place-items: center; }
    @media (max-width: 37.5em) {
      .grid--secondary {
        grid-template-columns: 1fr; } }
  .grid--footer {
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 37.5em) {
      .grid--footer {
        grid-template-columns: 1fr;
        place-items: start; } }

#gridMain {
  grid-template-areas: 'header header header' 'header header header' 'header header header' 'header header header' 'founder picture contact' 'founder picture contact' 'founder picture contact' 'primary primary primary' 'primary primary primary' 'primary primary primary' 'secondary secondary tertiary' 'secondary secondary tertiary' 'secondary secondary tertiary' 'footer footer footer'; }
  @media (max-width: 37.5em) {
    #gridMain {
      grid-template-areas: 'header' 'header' 'header' 'founder' 'founder' 'founder' 'picture' 'picture' 'picture' 'contact' 'contact' 'contact' 'primary' 'primary' 'primary' 'primary' 'secondary' 'secondary' 'secondary' 'tertiary' 'tertiary' 'tertiary' 'footer' 'footer'; } }

#header {
  grid-area: header; }

#founder {
  grid-area: founder; }

#picture {
  grid-area: picture; }

#contact {
  grid-area: contact; }

#primary {
  grid-area: primary; }

#secondary {
  grid-area: secondary; }

#tertiary {
  grid-area: tertiary; }

#footer {
  grid-area: footer; }

#gridPrimary {
  grid-template-areas: 'logo img description'; }
  @media (max-width: 37.5em) {
    #gridPrimary {
      grid-template-areas: ' description'; } }

#logoPrimary {
  grid-area: logo; }
  @media (max-width: 37.5em) {
    #logoPrimary {
      display: none; } }

#imgPrimary {
  grid-area: img; }
  @media (max-width: 37.5em) {
    #imgPrimary {
      display: none; } }

#descriptionPrimary {
  grid-area: description; }

#gridSecondary {
  grid-template-areas: 'img description'; }
  @media (max-width: 37.5em) {
    #gridSecondary {
      grid-template-areas: ' description'; } }

#imgSecondary {
  grid-area: img; }
  @media (max-width: 37.5em) {
    #imgSecondary {
      display: none; } }

#descriptionSecondary {
  grid-area: description; }

#gridFooter {
  grid-template-areas: 'links1 links2'; }
  @media (max-width: 37.5em) {
    #gridFooter {
      grid-template-areas: 'links1' 'links2'; } }

#allLinksOne {
  grid-area: links1; }

#allLinksTwo {
  grid-area: links2; }

/**=======================================================================================================================
 **                                                   FORM 
 *=======================================================================================================================**/
.form {
  width: 70%; }
  .form > .form__block:not(:first-child) {
    margin-top: 1rem; }
  .form__block {
    position: relative;
    display: flex;
    flex-direction: column; }
  .form__submit {
    margin: 0 auto;
    width: 50%; }
  .form__input {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; }
    .form__input--standard {
      height: 2.5rem; }
    .form__input--message {
      height: 6rem; }

/**=======================================================================================================================
 **                                                   CARD 
 *=======================================================================================================================**/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: #ffd1aa;
  border: 2px solid white;
  color: black; }
  .card__tag {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: #ff9100;
    padding: 0.5rem 1rem;
    border-radius: 15px; }
    @media (max-width: 37.5em) {
      .card__tag {
        top: 0.5rem; } }
  .card__figma {
    color: #0077ff;
    position: absolute; }
    .card__figma--header {
      bottom: 1rem;
      right: 1rem; }
      @media (max-width: 37.5em) {
        .card__figma--header {
          display: none; } }
  .card__description--secondary {
    display: flex;
    flex-direction: column; }
  .card__head--picture {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
    border-radius: 10px;
    background-color: rgba(42, 78, 110, 0.55);
    pointer-events: none; }
  .card__about {
    display: flex;
    justify-content: center;
    align-items: center; }
    .card__about--separator {
      height: 100%;
      width: 2px;
      background-color: black;
      margin: 0 1.5rem; }
      @media (max-width: 37.5em) {
        .card__about--separator {
          height: 2px;
          width: 50%;
          margin: 0.5rem 0; } }
    @media (max-width: 37.5em) {
      .card__about {
        flex-direction: column; } }
  .card__socials {
    display: flex; }
    .card__socials > a:not(:first-child) {
      margin-left: 2rem; }
  .card__text--founder {
    width: 75%; }
  .card__text--contact {
    width: 95%; }
  .card__text--header {
    width: 45%; }
    @media (max-width: 37.5em) {
      .card__text--header {
        width: 85%; } }
  .card__text--primary {
    width: 85%;
    margin: 0 auto; }
  .card__design-line {
    position: absolute;
    background-color: #ff9100;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 4px; }
    .card__design-line--left {
      left: 1.5rem; }
    .card__design-line--right {
      right: 1.5rem; }

.card--picture {
  position: relative;
  background-image: url("/img/rob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  color: white; }

.card--founder {
  background-color: #3e72a0;
  color: white; }

.card--footer {
  flex-direction: row; }
  @media (max-width: 37.5em) {
    .card--footer {
      flex-direction: column; } }

.footer__copyright {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem; }
  @media (max-width: 37.5em) {
    .footer__copyright {
      display: none; } }
  .footer__copyright--mobile {
    display: none;
    position: absolute;
    bottom: 0rem;
    right: 0.5rem; }
    @media (max-width: 37.5em) {
      .footer__copyright--mobile {
        display: block; } }

.link--footer {
  text-decoration: none;
  color: #0077ff; }

.card-heart-pop {
  display: inline;
  position: absolute;
  scale: 0;
  animation: heartPop 2s;
  color: red;
  font-size: 1rem; }

@keyframes heartPop {
  from {
    scale: 0;
    opacity: 1; }
  to {
    scale: 2.5;
    opacity: 0; } }

#allLinksTwo {
  margin-left: 1rem; }
  @media (max-width: 37.5em) {
    #allLinksTwo {
      margin-left: 0; } }

/**=======================================================================================================================
 **                                                   COMPONENTS 
 *=======================================================================================================================**/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black; }
  .btn--white {
    background-color: white;
    color: black; }
  .btn--transparent {
    background-color: transparent;
    color: black; }

.list {
  margin-left: 5rem; }

.list-item {
  font-size: 1.2rem; }
  @media (max-width: 37.5em) {
    .list-item {
      font-size: 1rem; } }

@media (max-width: 37.5em) {
  #resume {
    display: none; } }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343434;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s; }

.modal {
  overflow: scroll;
  position: absolute;
  margin: 1rem 0;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #343434;
  opacity: 0;
  width: 70rem;
  height: 40rem;
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .modal {
      display: none; } }
  .modal__close {
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    opacity: 0;
    width: 4rem;
    height: 4rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.3s; }
    @media (max-width: 37.5em) {
      .modal__close {
        display: none; } }

.resume {
  overflow: scroll;
  height: 80rem; }

/**=======================================================================================================================
 **                                                   CONSTRUCTION 
 *=======================================================================================================================**/
.construction {
  height: 25rem;
  width: 45rem;
  border-radius: 15px;
  border: 2px solid white;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black; }
  .construction__header {
    font-size: 4rem; }
  .construction__img {
    height: 4rem;
    width: 4rem; }
  .construction__text {
    font-size: 1.5rem; }
  .construction__link {
    font-size: 1.5rem;
    color: #0077ff; }

/**=======================================================================================================================
 **                                                   UTILITIES 
 *=======================================================================================================================**/
.u--center {
  display: grid;
  place-items: center; }

.u--background-color--secondary {
  background-color: #2a4e6e; }

.u--flex-col {
  display: flex;
  flex-direction: column; }

.u--flex-col--center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.u--margin-top {
  margin-top: 1rem; }

.u--margin-bottom {
  margin-bottom: 1rem; }

.u--margin-bottom--footer {
  margin-bottom: 1rem; }
  @media (max-width: 37.5em) {
    .u--margin-bottom--footer {
      margin-bottom: 0.25rem;
      width: 10rem; } }

.u--margin-auto {
  margin: 0 auto; }

.u--display--none {
  display: none; }

.u--relative {
  position: relative; }

.u--pointer-events--none {
  pointer-events: none; }

.u--opacity--1 {
  opacity: 1; }

.u--overflow--hidden {
  overflow: hidden; }

.u--display--none {
  display: none; }
  @media (max-width: 37.5em) {
    .u--display--none {
      display: block; } }
