/**========================================================================
 *                          CARD_STYLE1 
 *========================================================================**/

/**============================================
   *     Universal Card Specs -- Chocolate & Cream 
   *==============================================**/

// -- tag --
$fontSize--tag: 1.2rem;
$fontWeight--tag: bold;
$padding--tag: 1rem 1.5rem;
$borderRadius--tag: 5px;
// -- h2 --
$fontSize--h2: 3rem;
$fontSize--h3: 3rem;

$fontSize--h4: 2rem;
$fontWeight--h2: 300;
$fontWeight--h3: bold;

// -- text --
$fontSize--text: 1.8rem;
// -- li --
$fontSize--li: 1.8rem;
// -- btn --
$fontSize--btn: 1.5rem;
$padding--btn: 0.8rem 1.6rem;
$borderRadius--btn: 2rem;

// ----- Outer Container
.gridCard-universal {
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s;

  &:hover {
    transform: scale(1);
  }
}

// ----- Inner Container
.contentCard-universal {
  //All children of main content cards have margin-top 2rem (excludes header and footer cards)
  & > * {
    margin: 1rem 0;
  }
}

// ----- UNIVERSAL CARD CHOCOLATE STYLES ----- //

.cardChocolate {
  &-tag {
    font-size: $fontSize--tag;
    font-weight: $fontWeight--tag;
    padding: $padding--tag;
    border-radius: $borderRadius--tag;
  }

  &-h2 {
    font-size: $fontSize--h2;
    font-weight: $fontWeight--h2;
    color: $color-white;
  }
  &-h3 {
    font-size: $fontSize--h2;
    font-weight: $fontWeight--h2;
    color: $color-white;
  }
  &-h4 {
    font-size: $fontSize--h4;
    font-weight: $fontWeight--h2;
    color: $color-white;
  }
  &-text {
    font-size: $fontSize--text;
    color: $color-white;
  }

  &-btn {
    font-size: $fontSize--btn;
    color: $color-white;
    padding: $padding--btn;
    border-radius: $borderRadius--btn;
    border: 2px solid $color-white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-gray-boxShadow;
    }
  }
}

// ----- UNIVERSAL CARD CREAM STYLES ----- //

.cardCream {
  &-wrapper {
    @include center_flex_column;
    & > * {
      margin: 1rem 0;
    }
  }
  &-tag {
    font-size: $fontSize--tag;
    font-weight: $fontWeight--tag;
    padding: $padding--tag;
    border-radius: $borderRadius--tag;
  }

  &-h2 {
    font-size: $fontSize--h2;
    font-weight: $fontWeight--h2;
    text-align: center;
  }
  &-h3 {
    font-size: $fontSize--h3;
    font-weight: $fontWeight--h3;
    font-family: 'Chakra Petch', sans-serif;
  }
  &-text {
    font-size: $fontSize--text;
  }
  &-ul {
  }
  &-link {
    color: $color-link;
  }
  &-li {
    font-size: $fontSize--li;
  }
  &-btn {
    font-size: $fontSize--btn;
    padding: $padding--btn;
    border-radius: $borderRadius--btn;
    border: 2px solid $color-black;
    background-color: $color-cream;
    cursor: pointer;
  }
  &-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.li-image--JS {
  list-style-image: url('../img/javascript.png');
}
.li-image--CSS {
  list-style-image: url('../img/css-logo.png');
}
.li-image--NODE {
  list-style-image: url('../img/nodejs.png');
}
.li-image--GULP {
  list-style-image: url('../img/cup.png');
}
.li-image--GNEWS {
  list-style-image: url('../img/g.png');
}

// ----- CARD DESIGN LINES ----- //
.borderColorOrange {
  border: 1px solid $color-orange-opaque;
}
.borderColorYellow {
  border: 1px solid $color-yellow;
}
.borderColorGreen {
  border: 1px solid $color-light-green;
}
.borderColorBlue {
  border: 1px solid $color-blue;
}
.designLine {
  &-top {
    @include designLine-top;
  }
  &-bottom {
    @include designLine-bottom;
  }
  &-right {
    @include designLine-right;
  }
  &-left {
    @include designLine-left;
  }
}
