/**========================================================================
 *                          CARD FREELANCE
 *========================================================================**/

.card_freelance {
  position: relative;
  background-color: $color-cream;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_freelance-tag {
  background-color: $color-blue;
}

.card_freelance-contentContainer {
  width: 85%;
  @include center_flex_column;
}

.card-iconContainer {
  @include center_flex_row;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: min-content;
  border-radius: 15px;
  overflow: hidden;
  margin: 0;
  @include respond(break-600) {
  }
}

.card-icon {
  width: 5rem;
  height: auto;
  @include respond(break-600) {
  }
}
