/**=======================================================================================================================
 **                                                   COMPONENTS 
 *=======================================================================================================================**/
//! btn
.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid $color-black;
  //! typography
  text-decoration: none;
  //! typography
  &--white {
    background-color: $color-white;
    //! typography
    color: $color-black;
    //! typography
  }
  &--transparent {
    background-color: transparent;
    //! typography
    color: $color-black;
    //! typography
  }
}
//! btn

.list {
  //! layout
  margin-left: 5rem;
  //! layout
}
.list-item {
  //! typography
  font-size: 1.2rem;
  @include respond(break-600) {
    font-size: 1rem;
  }
  //! typography
}

//! utilities
#resume {
  @include respond(break-600) {
    display: none;
  }
}
//! utilities
