/**=======================================================================================================================
 **                                                   CONSTRUCTION 
 *=======================================================================================================================**/

.construction {
  //! dimensions
  height: 25rem;
  width: 45rem;
  border-radius: 15px;
  border: 2px solid $color-white;
  background-color: $color-primary;
  //! dimensions
  //! layout
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  //! layout
  //! typography
  color: $color-black;
  //! typography

  &__header {
    //! typography
    font-size: 4rem;
    //! typography
  }
  &__img {
    //! img
    height: 4rem;
    width: 4rem;
    //! img
  }
  &__text {
    //! typography
    font-size: 1.5rem;
    //! typography
  }
  &__link {
    //! typography
    font-size: 1.5rem;
    color: $color-link;
    //! typography
  }
}
