/**=======================================================================================================================
 **                                                   IMG 
 *=======================================================================================================================**/

.img--socials {
  height: 3rem;
}
.img--demo {
  &--primary {
    height: 28rem;
    border-radius: 5px;
    border: 2px solid $color-black;
    //! layout
    margin: 0 auto;
    //! layout
  }
  &--secondary {
    height: 27rem;
    border-radius: 5px;
    border: 2px solid $color-white;
    //! layout
    margin-left: 1rem;
    //! layout
  }
}
.img--logo {
  height: 22rem;
  width: 22rem;
  border: 2px solid $color-black;
  border-radius: 50%;
  object-fit: cover;
  &--mobile {
    //! layout
    display: none;
    margin: 0 auto 1rem;
    //! layout
    max-width: 50%;
    @include respond(break-600) {
      //! layout
      display: block;
      //! layout
    }
  }
}

.img--card {
  height: 4rem;
  width: 4rem;
  //! layout
  margin: 0 auto 1rem;
  //! layout
}
