/**========================================================================
 *                          RESUME MODAL 
 *========================================================================**/

.resume-modal {
  position: fixed;
  top: 2rem;
  height: 95vh;
  width: 70vw;
  background-color: $color-white;
  z-index: 5;
  opacity: 0;
}
.modal-cover {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $color-chocolate-opaque-2;
  z-index: 5;
  opacity: 0;
}

.modal-close {
  z-index: 10;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  cursor: pointer;
  animation: scaleUp 2s infinite linear;
  opacity: 0;
  @include respond(break-850) {
    top: 0.5rem;
    right: 3rem;
  }
}

.line-1,
.line-2 {
  width: 4rem;
  margin: 1rem;
  height: 2px;
  background-color: $color-red;
}

.line-1 {
  position: absolute;
  top: 25%;
  transform-origin: bottom;
  transform: rotate(45deg);
}
.line-2 {
  position: absolute;
  top: 25%;
  transform-origin: initial;
  transform: rotate(-45deg);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.pointerEvents-none {
  pointer-events: none;
}
