/**========================================================================
 *                          RESUME MODAL 
 *========================================================================**/

.resume-modal {
  position: fixed;
  top: 2rem;
  height: 95vh;
  width: 55vw;
  background-color: $color-white;
}
