/**=======================================================================================================================
 **                                                   TYPOGRAPHY 
 *=======================================================================================================================**/

.main-font {
  font-family: 'Roboto';
}

.head {
  &__founder {
    &--main {
    }
    &--secondary {
      font-size: 2.2rem;
      @include respond(break-600) {
        font-size: 1.5rem;
      }
    }
  }
  &__description {
    &--secondary {
      font-size: 2.2rem;
      @include respond(break-600) {
        font-size: 1.8rem;
      }
    }
  }
  &--sub {
    font-size: 2rem;
    @include respond(break-600) {
      font-size: 1.5rem;
    }
  }
  &--picture {
    font-size: 2rem;
  }
  &--about {
    text-decoration: none;
  }
  &--tertiary {
    font-size: 2rem;
    @include respond(break-600) {
      font-size: 1.5rem;
    }
  }
}

.text {
  font-size: 1.5rem;
  @include respond(break-600) {
    font-size: 1rem;
  }
  &--header {
    font-size: 1.2rem;
  }
  &--description {
    font-size: 1.2rem;
    @include respond(break-600) {
      font-size: 1rem;
    }
  }
}

h1 {
  font-size: 10rem;
  text-transform: uppercase;
  text-align: center;
  @include respond(break-600) {
    margin-top: 1rem;
    font-size: 2.5rem;
    line-height: 1.3;
  }
}
h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  @include respond(break-600) {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: 3rem;
  text-transform: uppercase;
  @include respond(break-600) {
    font-size: 1.7rem;
  }
}
h4 {
  font-size: 3rem;
  @include respond(break-600) {
    font-size: 2rem;
  }
}
h5 {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  @include respond(break-600) {
    font-size: 1.8rem;
  }
}
h6 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}

button {
  font-size: 1.2rem;
}

span {
  font-size: 1.4rem;
  @include respond(break-600) {
    font-size: 1rem;
  }
}
