/**=======================================================================================================================
 **                                                   UTILITIES 
 *=======================================================================================================================**/

.u--center {
  display: grid;
  place-items: center;
}

.u--background-color--secondary {
  background-color: $color-secondary;
}

.u--flex-col {
  display: flex;
  flex-direction: column;
}
.u--flex-col--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.u--margin-top {
  margin-top: 1rem;
}
.u--margin-bottom {
  margin-bottom: 1rem;
}
.u--margin-bottom--footer {
  margin-bottom: 1rem;
  @include respond(break-600) {
    margin-bottom: 0.25rem;
    width: 10rem;
  }
}
.u--margin-auto {
  margin: 0 auto;
}
.u--display--none {
  display: none;
}
.u--relative {
  position: relative;
}

.u--pointer-events--none {
  pointer-events: none;
}

.u--opacity--1 {
  opacity: 1;
}
