/**=======================================================================================================================
 **                                                   CARD 
 *=======================================================================================================================**/

// ------ BASE CARD ------ //
.card {
  border-radius: 15px;
  background-color: $color-primary;
  border: 2px solid $color-white;

  // -- TAG -- //
  &__tag {
    border-radius: 10px;
    background-color: $color-orange;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  &__bio--founder {
    width: 75%;
  }
  &__bio--contact {
    width: 95%;
  }

  // -- DESCRIPTION -- //
  &__description {
    width: 85%;
    //! layout
    &--secondary {
      display: flex;
      flex-direction: column;
    }
    //! layout
  }
  // -- HEAD -- //
  &__head--picture {
    padding: 0 1rem;
    border-radius: 10px;
    background-color: $color-picture-header;
    pointer-events: none;
  }
  &__head--contact {
    width: 95%;
  }
  // -- ABOUT -- //
  &__about {
    &--separator {
      height: 100%;
      width: 2px;
      background-color: $color-black;
      @include respond(break-600) {
        height: 2px;
        width: 50%;
      }
    }

    &--right {
      width: 45%;

      @include respond(break-600) {
        width: 85%;
      }
    }
  }

  // -- TEXT -- //
  &__text {
    &--primary {
      //! layout
      margin: 0 auto;
      //! layout
    }
  }

  // -- DESIGN LINE -- //
  &__design-line {
    height: 100%;
    width: 4px;
  }
}

// ------ PICTURE CARD ------ //
.card--picture {
  background-image: url('/img/rob.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
// ------ FOUNDER CARD ------ //
.card--founder {
  background-color: $color-founder;
}

// ------ FOOTER CARD ------ //
.card--footer {
  //! layout
  flex-direction: row;

  @include respond(break-600) {
    flex-direction: column;
  }
  //! layout
}
.footer__copyright {
  //! layout
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  @include respond(break-600) {
    display: none;
  }
  //! layout
  &--mobile {
    //! layout
    display: none;
    position: absolute;
    bottom: 0rem;
    right: 0.5rem;
    @include respond(break-600) {
      display: block;
    }
    //! layout
  }
}

.link--footer {
  //! typography
  text-decoration: none;
  color: $color-link;
  //! typography
}

.card-heart-pop {
  // heart-pop
  //! layout
  display: inline;
  position: absolute;
  //! layout
  //! heart-pop
  scale: 0;
  animation: heartPop 2s;
  //! heart-pop
  //! typography
  color: red;
  font-size: 1rem;
  //! typography
}

//! animations
@keyframes heartPop {
  from {
    scale: 0;
    opacity: 1;
  }
  to {
    scale: 2.5;
    opacity: 0;
  }
}
//! animations
