/**=======================================================================================================================
 **                                                   CARD 
 *=======================================================================================================================**/

// ------ BASE CARD ------ //
.card {
  border-radius: 15px;
  background-color: $color-primary;
  border: 2px solid $color-white;

  // -- TAG -- //
  &__tag {
    border-radius: 10px;
    background-color: $color-orange;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  // -- BIO -- //
  &__bio--founder {
    width: 75%;
  }
  &__bio--contact {
    width: 95%;
  }

  // -- DESCRIPTION -- //
  &__description {
    width: 85%;
  }

  // -- HEAD -- //
  &__head--picture {
    padding: 0 1rem;
    border-radius: 10px;
    background-color: $color-picture-header;
    pointer-events: none;
  }
  &__head--contact {
    width: 95%;
  }

  // -- ABOUT -- //
  &__about {
    &--separator {
      height: 100%;
      width: 2px;
      background-color: $color-black;
      @include respond(break-600) {
        height: 2px;
        width: 50%;
      }
    }

    &--right {
      width: 45%;

      @include respond(break-600) {
        width: 85%;
      }
    }
  }

  // -- DESIGN LINE -- //
  &__design-line {
    height: 100%;
    width: 4px;
  }
}

// ------ PICTURE CARD ------ //
.card--picture {
  background-image: url('/img/rob.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
// ------ FOUNDER CARD ------ //
.card--founder {
  background-color: $color-founder;
}
