/**========================================================================
 **                          JAVASCRIPT CLASSES 
 *========================================================================**/

//  Classes for Modals
.pointer-events--none {
  pointer-events: none;
}
.opacity--1 {
  opacity: 1;
}
.overflow--hidden {
  overflow: hidden;
}

// Class for Heart Pop Up
.heart-pop {
  display: inline;
  position: absolute;
  scale: 0;
  animation: heartPop 2s;
  color: $color-heart;
  font-size: 1rem;
}
