/**========================================================================
 **                          PICTURE LAYOUT 
 *========================================================================**/

// --- PICTURE CARD  --- //

.layout-picture {
  & > .card__head {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
