/**========================================================================
 **                          KEYFRAME ANIMATIONS 
 *========================================================================**/

// Used for picture card
@keyframes heartPop {
  from {
    scale: 0;
    opacity: 1;
  }
  to {
    scale: 2.5;
    opacity: 0;
  }
}
