/**=======================================================================================================================
 **                                                   IMG 
 *=======================================================================================================================**/

.socials {
  height: 3rem;
}
.demo {
  &--primary {
    height: 28rem;
    border-radius: 5px;
    border: 2px solid $color-black;
    //! layout
    margin: 0 auto;
    //! layout
  }
  &--secondary {
    // height: 27rem;
    border-radius: 5px;
    border: 2px solid $color-white;
    //! layout
    margin-left: 0.5rem;
    //! layout
  }
}
.logo {
  height: 22rem;
  width: 22rem;
  border: 2px solid $color-black;
  border-radius: 50%;
  object-fit: cover;
  &--mobile {
    height: 6rem;
    width: 6rem;
    margin: 0 auto;
  }
}

.icon {
  height: 4rem;
  width: 4rem;
  //! layout
  margin: 0 auto 1rem;
  //! layout
}
