/**=======================================================================================================================
 **                                                   IMG 
 *=======================================================================================================================**/

/* Styles for social icons */
.socials {
  height: 3rem;
}

/* Styles for demo elements */
.demo {
  border-radius: 5px;
  /* Styles for primary demo element */
  &--primary {
    height: 28rem;
    border: 2px solid $color-black;
  }
  /* Styles for secondary demo element */
  &--secondary {
    border: 2px solid $color-white;
  }
}

/* Styles for logo */
.logo {
  /* Use the $logo-size variable for height and width */
  height: $logo-size;
  width: $logo-size;
  border: 2px solid $color-black;
  border-radius: 50%;
  object-fit: cover;
  /* Styles for logo on mobile */
  &--mobile {
    height: $logo-size-mobile;
    width: $logo-size-mobile;
  }
}

/* Styles for icons */
.icon {
  /* Use the $icon-size variable for height and width */
  height: $icon-size;
  width: $icon-size;
}
