/**=======================================================================================================================
 **                                                   TYPOGRAPHY 
 *=======================================================================================================================**/

// Main Font
.main-font {
  font-family: 'Roboto', Arial, sans-serif;
}

// Link
.link {
  color: $color-link;
}

// Text Colors
.text--black {
  color: $color-black;
}

.text--white {
  color: $color-white;
}

// Text Sizes and Responsive Behavior
.text--tag {
  @include text-size-resp(1.4rem);
}

.text--header,
.text--list {
  @include text-size-resp(1.2rem);
}

.text--bio {
  @include text-size-resp(1.5rem);
}

.text--btn {
  @include text-size-resp(1.2rem);
  text-decoration: none;
  color: $color-black;
}

// Headings and Responsive Behavior
.head--large {
  @include head-size-resp(10rem);
  text-transform: uppercase;
}
.head--primary {
  @include head-size-resp(3.5rem);
  text-transform: uppercase;
}

.head--secondary {
  @include head-size-resp(3rem);
  text-transform: uppercase;
}

.head--tertiary {
  text-transform: uppercase;
}

.head--main {
  @include head-size-resp(3rem);
}

.head--alternate,
.head--sub,
.head--tertiary {
  @include head-size-resp(2rem);
}

.head--about {
  font-size: 2.5rem;
}

.head--mini {
  font-size: 2.5rem;
  text-decoration: underline;

  @include respond($breakpoint-600) {
    font-size: 1.8rem;
  }
}

.head--picture {
  font-size: 2rem;
}

.head--footer {
  font-size: 1.5rem;
  text-decoration: underline;
}
