/**=======================================================================================================================
 **                                                   TYPOGRAPHY 
 *=======================================================================================================================**/

.main-font {
  font-family: 'Roboto', Arial, sans-serif;
}

.link {
  color: $color-link;
}
.text--black {
  color: $color-black;
}
.text--white {
  color: $color-white;
}

// ============ TEXT ============ //
.text--tag {
  font-size: 1.4rem;
  @include respond(break-600) {
    font-size: 1rem;
  }
}

.text--header {
  font-size: 1.2rem;
}

.text--bio {
  font-size: 1.5rem;
  @include respond(break-600) {
    font-size: 1rem;
  }
}

.text--list {
  font-size: 1.2rem;
  @include respond(break-600) {
    font-size: 1rem;
  }
}

// ============ HEADS ============ //
.head--large {
  font-size: 10rem;
  text-transform: uppercase;
  @include respond(break-600) {
    font-size: 2.5rem;
    line-height: 1.3;
  }
}

.head--about {
  font-size: 2.5rem;
}

.head--main {
  font-size: 3rem;
  @include respond(break-600) {
    font-size: 2rem;
  }
}
.head--alternate {
  font-size: 2rem;
  @include respond(break-600) {
    font-size: 1.5rem;
  }
}
.head--sub {
  font-size: 1.8rem;
  @include respond(break-600) {
    font-size: 1.5rem;
  }
}
.head--primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  @include respond(break-600) {
    font-size: 2.5rem;
  }
}
.head--mini {
  font-size: 2.5rem;
  //! layout
  text-align: center;
  //! layout
  text-decoration: underline;
  @include respond(break-600) {
    font-size: 1.8rem;
  }
}
// ------------ OLD SELECTORS ------------ //
.head {
  &__description {
    &--secondary {
      font-size: 2.2rem;
      @include respond(break-600) {
        font-size: 1.8rem;
      }
    }
  }
  &--picture {
    font-size: 2rem;
  }
  &--tertiary {
    font-size: 2rem;
    @include respond(break-600) {
      font-size: 1.5rem;
    }
  }
}

.text {
  font-size: 1.5rem;
  @include respond(break-600) {
    font-size: 1rem;
  }
  &--description {
    font-size: 1.2rem;
    @include respond(break-600) {
      font-size: 1rem;
    }
  }
}

h2 {
}
h3 {
  font-size: 3rem;
  text-transform: uppercase;
  @include respond(break-600) {
    font-size: 1.7rem;
  }
}
h4 {
}
h5 {
}
h6 {
  font-size: 1.5rem;
  //! layout
  text-align: center;
  //! layout
  text-decoration: underline;
}

button {
  font-size: 1.2rem;
}
