/**========================================================================
 **                          DISPLAY 
 *========================================================================**/

.body {
  background-color: $color-secondary;
}

.display-main {
  width: 80rem;
  @include respond(break-600) {
    width: auto;
  }
}

.display-alternate {
  height: 25rem;
  width: 45rem;
  border-radius: 15px;
  border: 2px solid $color-white;
  background-color: $color-primary;
}
